@page "/course"
@using educationPortal.Models


<PageTitle>New Course</PageTitle>

<h1>Course Catalog</h1>
<h3>New Course</h3>

<div class="row">
    <div class="col-sm-4">
        <EditForm Model="@course">
            <div class="mb-3">
                <label for="code" class="form-label">Code:</label>
                <InputText id="code" @bind-Value="course.Code" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <InputText id="title" @bind-Value="course.Title" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="time" class="form-label">Time:</label>
                <InputText id="time" @bind-Value="course.Time" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location:</label>
                <InputText id="location" @bind-Value="course.Location" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="instructor" class="form-label">Instructor:</label>
                <InputText id="instructor" @bind-Value="course.Instructor" class="form-control"></InputText>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private Course course = new() {
        Code = string.Empty,
        Title = string.Empty,
        Time = string.Empty,
        Location = string.Empty,
        Instructor = string.Empty,

    };
}