@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello Students</h1>

Welcome to our new Education Portal! Please choose from one of the options. Please either register if you dont have an account
or login and visit your personal profile page!
