@page "/Login"
<link href="wwwroot\css/login.css" rel="stylesheet" />


<form class="registerForm">
    <div class="row loginForm">
        <div class="col-md-6 regForm text">
            <h3 class="text-center">Login</h3>
            <hr>
            <div class="row mb-4">

                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="email" id="email" class="form-control" />
                    <label class="form-label" for="email">Email address</label>
                </div>
                <div data-mdb-input-init class="form-outline mb-4">
                    <input type="password" id="password" class="form-control" />
                    <label class="form-label" for="password">Password</label>
                    <br> <input type="checkbox" id="showPassword"/>
                    <label for="showPassword">Show Password</label>
                    
                </div>
                <p class="text-center">Not a member yet? <a href="/register"> register here</a></p>
                <button data-mdb-ripple-init type="button" class="btn btn-block mb-4 btn-success">Login</button>
            </div>
        </div>
        
    </div>
    
</form>

@code {}
